<!-- Toolbar superior de la app -->
<header>
  <app-header></app-header>
</header>

<!-- Body -->
<body>

  <!-- Contenedor de noticias -->
  <div class="container mainbox">
    <h2>Best News:</h2>
    <div  
      *ngFor="let item of newResults; let i=index" 
      role="listitem"
    >
      <!-- Noticia particular -->
      <app-news-item 
        [item]='item'
        [index]='i'
        [limit]='limit'
        [page]='page'
      ></app-news-item>
    </div>

    <!-- Botones de paginacion -->
    <app-pagination
      [previous]='previousPage'
      [next]='nextPage'
      [page]='page'
    ></app-pagination>
    
  </div>
</body>